# .vscode/**
# .vscode-test/**
# src/**
# .gitignore
# .yarnrc
# vsc-extension-quickstart.md
# **/tsconfig.json
# **/eslint.config.mjs
# **/*.map
# **/*.ts
# **/.vscode-test.*

# Ignore test folders and dev-only configs
.vscode/
.vscode-test/
tests/
**/*.ts
**/*.map
**/*.test.js
**/*.test.ts
**/*.test.tsx
**/__mocks__/

# Ignore stuff unrelated to the extension runtime
README.md
CHANGELOG.md
tsconfig.json
.yarnrc
.vsc-extension-quickstart.md
